container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true

  02_createsuperuser:
    command: >
      echo "from accounts.models import Account;
      Account.objects.create_superuser(first_name='mpundu', last_name='kishala', email='eddo@gmail.com', username='eddo@', password='paul92+-')\" | python manage.py
 

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "billy_online_store.settings"
